a { color: black}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body{

    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: white;
    border: 1px solid;
    text-align: center;

}

.content{
    padding-top: 80px;
    padding-bottom: 145px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex :1 0 auto;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border: 1px solid;
    background: white;
    text-align: center;
}

.main{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex :1 0 auto;
}

.gameBox {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 10px;
}

.gameBox_rev {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #ccc;
    padding: 10px;
}

.nomDesc {
    justify-content: center;
    padding: 0 10px;
}

.genres, .categories {
    display: flex;
    gap: 5px;
    width: 50%;
    flex-direction: column;
}

.game img {
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
}

.detailJeu{
    display: flex;
    flex-direction: column;

}

.details {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex-grow: 1;
}

.posterDetails{
    width: 100%;
}

.posterDetails img{
    width: 100%;
}

.os\&yearDetails{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.osDetails svg{
    width: 30px;
}

.yearDetails{
    border-style: solid;
    border-width: 2px ;
    border-radius: 4px;
}

.devDetails{
    border-style: solid;
    border-width: 2px ;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.descriptionDetails{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.note\&prixDetails{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.noteDetails{
    border-style: solid;
    border-width: 2px ;
    border-radius: 4px;
}

.prixDetails{
    border-style: solid;
    border-width: 2px ;
    border-radius: 4px;
}

.description {
    flex-grow:1;
    margin-top: 5px;
    padding:5px;
    border-style: solid;
    border-width: 2px ;
    border-radius: 4px;
}

.tagJeu{
    padding: 10px;

}

.genresTag{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.genresTag a{
    border-style: solid;
    border-width: 2px ;
    border-radius: 4px;
    margin: 1px;
    padding: 5px;
}

.categoryTag{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.categoryTag a{
    border-style: solid;
    border-width: 2px ;
    border-radius: 4px;
    margin: 1px;
    padding: 5px;
}


@media (min-width : 800px  ) {
    .content {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        flex-grow: 0;
    }

    .detailJeu{
        display: flex;
        flex-direction: row;
    }

    .details{
        width : 50%;
    }
    .descriptionDetails{
        width: 50%;
    }
    .description{
    }

}