a { color: black}
body{
    height: 100%;
    border: 1px solid
}
.genres{
    display: grid;
    gap : 5px;
    width: 50%;

}
.categories{
    display: grid;
    gap : 10px;
    width: 50%;

}
.header{
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: white;
    border: 1px solid;
    text-align: center;
}

.content{
    border: 1px solid;
    width: 100%;

}


.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border: 1px solid;
    background: white;
    text-align: center;
}


.gameBox {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 10px;
}

.gameBox_rev {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #ccc;
    padding: 10px;
}

.nomDesc {
    justify-content: center;
    padding: 0 10px;
}

.genres, .categories {
    display: grid;
    gap: 10px;
    width: 50%;
}

.game img {
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
}





@media (min-width : 800px  ) {
    .content {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        flex-grow: 0;
    }
}