

html, body {
    font-family: Noto Sans, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #007198;
    color: lightgoldenrodyellow;

}


body{

    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    border: 1px solid lightsteelblue;
    text-align: center;
    background-color: #003C57;
    color: lightgoldenrodyellow;
}

.content{
    padding-top: 80px;
    padding-bottom: 145px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex :1 0 auto;
    background: linear-gradient(135deg,#007198, #003C57);
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border: 1px solid lightsteelblue;
    background-color: #003C57;
    text-align: center;
}

.main{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex :1 0 auto;
    background: linear-gradient(135deg,#007198, #003C57);
}

.gameBox {
    display: flex;
    flex-direction: row;
    border: 1px inset lightsteelblue;
    padding: 10px;
}

.gameBox_rev {
    display: flex;
    flex-direction: row-reverse;
    border: 1px inset lightsteelblue;
    padding: 10px;
}

.nomDesc {
    justify-content: center;
    padding: 0 10px;
}

.genres, .categories {
    display: flex;
    gap: 5px;
    width: 50%;
    flex-direction: column;
}

.game img {
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
}

.detailJeu{
    display: flex;
    flex-direction: column;

}

.details {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex-grow: 1;
}

.posterDetails{
    width: 100%;
}

.posterDetails img{
    width: 100%;
}

.os\&yearDetails{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.osDetails svg{
    width: 30px;
}

.yearDetails{
    border-radius: 4px;
    border: 3px solid #051C24;
    box-shadow: 1px 2px 2px #003C57;

}

.devDetails{
    border: 3px solid #051C24;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 2px 2px #003C57;

}

.descriptionDetails{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.note\&prixDetails{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.noteDetails{
    border-radius: 4px;
    border: 3px solid #051C24;
    box-shadow: 1px 2px 2px #003C57;
    background-color: #007198;
}

.prixDetails{
    border-radius: 4px;
    border: 3px solid #051C24;
    box-shadow: 1px 2px 2px #003C57;
    background-color: #007198;
}

.description {
    border-radius: 4px;
    flex-grow:1;
    margin-top: 5px;
    padding:5px;
    border: 3px solid #051C24;
    box-shadow: 1px 2px 2px #003C57;
    background: linear-gradient(130deg,#007198,#003C57);
}

.tagJeu{
    padding: 10px;

}

.genresTag{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.genresTag a{
    border-radius: 4px;
    margin: 1px;
    padding: 5px;
    border: 3px solid #051C24;
    box-shadow: 1px 2px 2px #003C57;
    color: lightgoldenrodyellow;
    background-color: #003C57;
}


.categoryTag{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.categoryTag a{;
    border-radius: 4px;
    margin: 1px;
    padding: 5px;
    border: 3px solid #051C24;
    box-shadow: 1px 2px 2px #003C57;
    color: lightgoldenrodyellow;
    background-color: #003C57;
}
a:link {
    color:lightgoldenrodyellow;
}
a:visited {
    color: lightgrey;
}
a:hover {
    color: lightgoldenrodyellow;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;

}


@media (min-width : 800px  ) {
    .content {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        flex-grow: 0;
    }

    .detailJeu{
        display: flex;
        flex-direction: row;
    }

    .details{
        width : 50%;
    }
    .descriptionDetails{
        width: 50%;

    }
    .description{
        background-color: #007198;
    }

}